<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blogg</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>Registrer en ny nyhet</h1>
</header>

<div class="container">
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>

        <div class="item-top">
            <label for="newsTitle">Overskrift som nyheten skal ha:</label>
            <input type="text" name="tittel" id="newsTitle">
        </div>


        <div class="item-mid">
            <label for="newsText">Skriv inn selve nyheten:</label>
            <textarea name="nyhet" id="newsText" rows="7"></textarea>
        </div>


        <div class="item-bot">
            <label for="newsPublishedBy" class="item-a">Publisert av:</label>
            <select name="forfatter" id="newsPublishedBy" class="item-b">
                <option value="Ingvild">Ingvild</option>
                <option value="Walter">Walter</option>
                <option value="Per">Per</option>
                <option value="Grethe">Grethe</option>
            </select>

            <button type="submit" class="item-c" id="submitBtn">Lagre nyheten</button>
        </div>
    </form>

    <hr>

    <div class="news-container entries">
        {% for entry in entries %}
            <h2>{{ entry.tittel }}</h2>
            <p>{{ entry.nyhet|safe }}</p>
            <p>{{ entry.forfatter }}</p>
            <p>{{ entry.dato }}</p>

        {% else %}
            <h3>No entries yet. Add some!</h3>
        {% endfor %}
    </div>
</div>
</body>
</html>