<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nyheter - Blogg</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>Registrer en ny nyhet</h1>
</header>

<div class="container">
    <form action="" class="form-container">

        <div class="item-top">
            <label for="newsHeading">Overskrift som nyheten skal ha:</label>
            <input type="text" id="newsHeader">
        </div>


        <div class="item-mid">
            <label for="newsText">Skriv inn selve nyheten:</label>
            <textarea id="newsText" rows="7"></textarea>
        </div>


        <div class="item-bot">
            <label for="newsPublishedBy" class="item-a">Publisert av:</label>
            <select id="newsPublishedBy" class="item-b">
                <option value="svend">Svend Andreas</option>
                <option value="walter">Walter</option>
                <option value="per">Per</option>
                <option value="grethe">Grethe</option>
            </select>

            <button type="button" class="item-c">Lagre nyheten</button>
        </div>
    </form>
</div>

</body>
</html>