<!doctype html>
<html>
    <head>
        <title>Login.html</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    {% from "formhelpers.html" import render_field %}
        <form class="grid-container" method="post" action="/login">
            <h1>Please log in</h1>
            <dl>
                {{ form.csrf_token }}
                {{ render_field(form.username, class_to_use="grid-item input") }}
                {{ render_field(form.password, class_to_use="grid-item input") }}
            </dl>
            <input class="button" type="submit" value="Log in">
        </form>
    </body>

</html>
