<!doctype html>
<html lang="no">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Logg inn | Nyhetsblogg</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <div>

    {% from "formhelpers.html" import render_field %}
        <form class="login-form" method="post" action="/login">
            <h1>Logg inn</h1>
            <dl>
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
            </dl>
            <button type="submit" id="loginBtn">Logg inn</button>
        </form>

    </div>
    </body>
</html>
